.dragContainer {
	width: 100vw;
	height: 100vh;	
	position: relative;
}
.sticker {
	background-color: rgb(142, 141, 141);
	width: 150px;
	height: 150px;
	box-shadow: 0 0 7px 1px black;
	align-content: center;
	align-items: center;
	margin: auto;
	position: absolute;
	cursor: move;
	overflow: hidden;
}
  
  .userStickers div{
	background-color: rgb(252, 243, 139) !important;
}
  .sticker:hover {
	border: 2px solid gray;
	opacity: 70%;
  }
  .userStickers div:before{
	-moz-box-shadow: 0 1px 1px rgba(252, 243, 139, 0.938), -1px 1px 1px rgba(252, 243, 139, 0.925);
    border-color: rgb(145, 146, 146);
    border-style: solid;
    border-width: 0 10px 10px 0;
    content: "";
    display: block;
    position: absolute;
    right: 0;
    bottom: 0;
  }
  
  .user {
	border: 0px;
	font-size: 14px;
	text-align: center;
  }
  .note {
	padding: 40px 20px;
	font-size: 16px;
	max-width: 150px;
	max-height: 150px;
	position: absolute;
  }